name: hello-world

on:
  schedule:
    - cron: '*/1 * * * *'

jobs:
  cron:
    runs-on: ubuntu-latest

    steps:

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, Phuong!
