# This is a basic workflow to help you get started with Actions

name: run-command

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Runs a single command using the runners shell
      - name: Run a multi-line script
        run: echo pwd
