# This is a basic workflow to help you get started with Actions

name: run-command

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo content
        uses: actions/checkout@v2
        
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7.7'

      - name: execute py script
        run: python csv/hello.py
      
